<app-navbar></app-navbar>
<div class="pricing-grids-info">
    <div class="container-login100">
        <div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30 frnt-mrg-top-heiight">
        <div class="flexslider">
            <ul class="slides">
                <li>
                    <div class="pricing-grid grid-one">
                        <div class="w3ls-top">
                            <h3>Basic</h3>
                            <h4> 500
                                <span class="sup">$</span>
                            </h4>
                            <div class="clear"> </div>
                        </div>
                        <div class="w3ls-bottom">
                            <ul class="count">
                                <li>Monthly Package</li>
                                <li>2 New Toys / Week</li>
                                <li>1 New Felt Book / Week</li>
                                <li>Deposite of 1500</li>
                            </ul>
                            <div class="more">
                                <a class="book popup-with-zoom-anim button-isi zoomIn animated" data-wow-delay=".5s" (click)="selectThisPlan(1)" href="javascript:void(0)">Select Plan</a>
                            </div>
                        </div>
                    </div>
                    <div class="pricing-grid grid-two">
                        <div class="w3ls-top">
                            <h3>Standard</h3>
                            <h4> 1050
                                <span class="sup">$</span>
                            </h4>
                            <div class="clear"> </div>
                        </div>
                        <div class="w3ls-bottom">
                            <ul class="count">
                                <li>Quarterly Package</li>
                                <li>2 New Toy / Week</li>
                                <li>1 Unique Book / Week</li>
                                <li>Deposite of 1450</li>
                            </ul>
                            <div class="more">
                                <a class="book popup-with-zoom-anim button-isi zoomIn animated" data-wow-delay=".5s" (click)="selectThisPlan(2)" href="javascript:void(0)">Select Plan</a>
                            </div>
                        </div>
                    </div>
                    <div class="pricing-grid grid-three">
                        <div class="w3ls-top">
                            <h3>Super</h3>
                            <h4> 2400
                                <span class="sup">$</span>
                            </h4>
                            <div class="clear"> </div>
                        </div>
                        <div class="w3ls-bottom">
                            <ul class="count">
                                <li>Half a Year Package</li>
                                <li>2 New Toy / Week</li>
                                <li>1 Full of Knowledge Book / Week</li>
                                <li>Deposite of 4600</li>
                            </ul>
                            <div class="more">
                                <a class="book popup-with-zoom-anim button-isi zoomIn animated" data-wow-delay=".5s" (click)="selectThisPlan(3)" href="javascript:void(0)">Select Plan</a>
                            </div>
                        </div>
                    </div>
                    <div class="zb pricing-grid grid-four">
                        <div class="w3ls-top">
                            <h3>Ultimate</h3>
                            <h4> 4800
                                <span class="sup">$</span>
                            </h4>
                            <div class="clear"> </div>
                        </div>
                        <div class="w3ls-bottom">
                            <ul class="count">
                                <li>Yearly Package</li>
                                <li>2 Playful Toy every other week</li>
                                <li>Deposite of 4200</li>
                                <li>&nbsp;</li>
                            </ul>
                            <div class="more">
                                <a class="book popup-with-zoom-anim button-isi zoomIn animated" data-wow-delay=".5s" (click)="selectThisPlan(4)" href="javascript:void(0)">Select Plan</a>
                            </div>
                        </div>
                    </div>
                    <div class="clear"> </div>
                </li>
            </ul>
        </div>
    </div>
    </div>
</div>
<app-footer></app-footer>