<app-navbar></app-navbar>
    <div class="container-login100" style="background-image: url('../../assets/images/bg-01.jpg');">
        <div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30 frnt-mrg-top-heiight">
            <form class="login100-form validate-form" [formGroup]="login_form" (ngSubmit)="signup(login_form)" #formDir="ngForm">
                <span class="login100-form-title p-b-37">
                    Sign Up
                </span>

                <div class="wrap-input100 validate-input m-b-20" data-validate="Enter full name">
                    <input class="input100" formControlName="fullName" #fullName type="text" name="fullName" placeholder="Full Name">
                    <span class="focus-input100"></span>
                </div>
                
                <div class="wrap-input100 validate-input m-b-20" data-validate="Enter email">
                    <input class="input100" formControlName="loginEmail" #loginEmail type="text" name="email" placeholder="Email">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-25" data-validate="Enter password">
                    <input class="input100" formControlName="loginPassword" #loginPassword type="password" name="pass" placeholder="Password">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-25" data-validate="Enter address">
                    <textarea class="input100" formControlName="address" #address type="text" name="address" placeholder="Address"></textarea>
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-25" data-validate="Enter city">
                    <input class="input100" formControlName="city" #city type="text" name="city" placeholder="City">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-25" data-validate="Enter contact number">
                    <input class="input100" formControlName="contact_no" #contact_no type="text" name="contact_no" placeholder="Contact Number">
                    <span class="focus-input100"></span>
                </div>

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn">
                        Sign Up
                    </button>
                </div>
                <div class="text-center p-t-57 p-b-20">

                </div>
                <div class="text-center">
                    <a routerLink="/login" class="txt2 hov1">
                        Login
                    </a>
                </div>
            </form>


        </div>
    </div>



    <div id="dropDownSelect1"></div>
    <app-footer></app-footer>